[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "https://rubiesunleashed.netlify.app/*"
  to = "https://rubiesunleashed.app/:splat"
  status = 301
  force = true